/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/* MAIN STYLES */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--font-base: 18px;
	--font-Barlow: "Barlow", sans-serif;
	--font-Fraunces: "Fraunces", serif;

	/* Primary */
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-cyan: hsl(167, 40%, 24%);
	--dark-blue: hsl(198, 62%, 26%);
	--moderate-cyan: hsl(168, 34%, 41%);

	/* Neutral */
	--desatured-blue: hsl(212, 27%, 19%);
	--darker-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);

	--body: hsl(34, 100%, 99%);
	--header: hsl(199, 87%, 62%);
	--footer: hsl(168, 44%, 70%);
}

:root {
	--spacing-24: 1.33rem;
	--spacing-32: 1.77rem;
	--spacing-40: 2.22rem;
	--spacing-60: 3.33rem;
	--spacing-64: 3.55rem;
	--spacing-80: 4.44rem;
}

html {
	font-size: var(--font-base);
	scroll-behavior: smooth;
}

body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size-adjust: 100%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	font-family: var(--font-Barlow);
	font-weight: 600;

	background-color: var(--body);
}

button {
	border: 0;
	background: transparent;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-Fraunces);
	font-weight: 900;
}

h1 {
	color: var(--white);
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 6px;
	line-height: 50px;
}

h2 {
	color: var(--desatured-blue);
	font-size: var(--spacing-32);
	line-height: 38px;
	letter-spacing: -0.23px;
}

h3 {
	font-size: 1.55rem;
}

h3 + p {
	margin-top: var(--spacing-24);
}

h4 {
	font-size: 0.88rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: var(--grayish-blue);
}

ul,
li {
	list-style-type: none;
}

p {
	line-height: 30px;
	color: var(--dark-grayish-blue);
}

a {
	text-decoration: none;
}

.logo img {
	display: block;
	width: 170px;
	height: 33px;
}

.link {
	position: relative;
	display: inline-block;
	font-family: var(--font-Fraunces);
	font-size: 0.83rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: 1px;
	color: var(--desatured-blue);
}

.link::after {
	content: "";
	position: absolute;
	z-index: -1;
	left: -10px;
	right: -10px;
	bottom: 0;
	height: 10px;
	border-radius: 28px;
	-webkit-transition: background 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
	transition: background 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.link.brand::after {
	background-color: hsla(51, 100%, 49%, 25%);
}

.link.audience::after {
	background-color: hsla(7, 99%, 70%, 25%);
}

.link.brand:hover::after {
	background-color: var(--yellow);
}

.link.audience:hover::after {
	background-color: var(--soft-red);
}

.button {
	padding: 16px 32px;
	font-family: var(--font-Fraunces);
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--desatured-blue);
	border-radius: 28px;
	background-color: var(--yellow);
}

.fit-image {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

/* HEADER */

.header {
	padding: var(--spacing-32) var(--spacing-24);
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #3ec0ff;
}

.header nav {
	opacity: 0;
	padding: var(--spacing-60) 0;
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 24px;
	right: 24px;
	text-align: center;
	background-color: var(--white);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: opacity 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045),
		-webkit-transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	transition: opacity 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045),
		-webkit-transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	transition: opacity 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045),
		transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	transition: opacity 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045),
		transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045),
		-webkit-transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.header nav.dropdown {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	z-index: 3;
}

.header nav::before {
	content: "";
	position: absolute;
	top: -1.2rem;
	right: 0;
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
	border-right: 24px solid var(--white);
}

.header nav a:not(.button) {
	display: block;
	font-size: 20px;
	letter-spacing: -0.14px;
	color: var(--dark-grayish-blue);
}

.header nav a:is(.button) {
	display: inline-block;
}

.header nav a:not(:first-child) {
	margin-top: var(--spacing-32);
}

.header__toggle {
	position: relative;
	z-index: 3;
	width: 24px;
	height: 18px;
	background: url(./images/icon-hamburger.svg);
}

.header + .main {
	margin-top: -4rem;
}

/* HERO SECTION */

.hero {
	position: relative;
	background: #3ec0ff;
}

.hero::before {
	content: "";
	position: absolute;
	top: 70%;
	left: 50%;
	width: 36px;
	height: 114px;
	background: url(./images/icon-arrow-down.svg);
	-webkit-transform: translate(-50%, -70%);
	transform: translate(-50%, -70%);
}

.hero h1 {
	position: absolute;
	top: 8rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* ABOUT SECTION */

.about p {
	margin-top: var(--spacing-24);
	margin-bottom: var(--spacing-32);
	font-size: 1rem;
}

.about__content {
	margin: var(--spacing-64) var(--spacing-24);
	text-align: center;
}

/* SERVICES SECTION */

.services p {
	font-size: 0.88rem;
	line-height: 28px;
	letter-spacing: -0.11px;
}

.services__item {
	position: relative;
}

.services__item--graphic h3,
.services__item--graphic p {
	color: #24554a;
}

.services__item--photography h3,
.services__item--photography p {
	color: hsla(197, 86%, 12%);
}

.services__content {
	padding-left: var(--spacing-24);
	padding-right: var(--spacing-24);
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
}

/* TESTIMONIALS SECTION */

.testimonials {
	padding: var(--spacing-64) var(--spacing-24);
}

.testimonials__item {
	margin-top: var(--spacing-80);
	margin-bottom: var(--spacing-64);
	text-align: center;
}

.testimonials__avatar {
	width: 72px;
	height: 72px;
	border-radius: 50%;
}

.testimonials__text {
	margin-top: var(--spacing-32);
	margin-bottom: var(--spacing-32);
	line-height: 32px;
	letter-spacing: -0.13px;
	color: var(--darker-grayish-blue);
}

.testimonials__name {
	display: block;
	font-family: var(--font-Fraunces);
	letter-spacing: -0.13px;
	color: var(--desatured-blue);
}

.testimonials__job {
	font-size: 0.77rem;
	letter-spacing: -0.13px;
	color: var(--grayish-blue);
}

.testimonials__name + .testimonials__job {
	margin-top: 10px;
}

/* PROJECTS SECTION */

.projects {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr) [2];
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-rows: (1fr) [2];
	grid-template-rows: repeat(2, 1fr);
}

.projects > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.projects > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.projects > *:nth-child(3) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.projects > *:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

/* FOOTER */
.footer {
	padding: var(--spacing-64) var(--spacing-40);
	text-align: center;
	background-color: var(--footer);
}

.footer .logo img {
	display: block;
	margin: auto;
}

.footer nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: var(--spacing-40) auto var(--spacing-80);
}

.footer nav a {
	font-family: var(--ff-Barlow);
	color: var(--moderate-cyan);
	letter-spacing: -0.13px;
	text-transform: none;
	-webkit-transition: color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.footer nav a:hover {
	color: var(--white);
}

.footer__network {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer__network-link {
	transition: -webkit-filter 1s cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition: -webkit-filter 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: filter 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: filter 1s cubic-bezier(0.19, 1, 0.22, 1),
		-webkit-filter 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: filter 1s cubic-bezier(0.19, 1, 0.22, 1),
		-webkit-filter 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer__network-link:hover {
	-webkit-filter: brightness(6);
	filter: brightness(6);
}

/* RESPONSIVE */

@media only screen and (min-width: 768px) {
	.hero {
		height: 100vh;
	}

	.hero::before {
		top: 55%;
	}

	.hero h1 {
		top: 8rem;
		font-size: 56px;
	}

	.about.grid .about__content {
		padding: 3rem;
	}

	.about__content {
		text-align: left;
	}

	.button {
		background-color: var(--white);
		-webkit-transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
		transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
	}

	.button:hover {
		color: var(--white);
		background-color: hsla(0, 0%, 100%, 25%);
	}

	.header nav {
		opacity: 1;
		padding: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		position: static;
		background-color: transparent;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.header nav::before {
		display: none;
	}

	.header nav a:not(.button) {
		color: var(--white);
		-webkit-transition: color 0.4s ease-in-out;
		transition: color 0.4s ease-in-out;
	}

	.header nav a:not(.button):hover {
		color: var(--desatured-blue);
	}

	.header nav a:not(:first-child) {
		margin-top: 0;
		margin-left: var(--spacing-40);
	}

	.header__toggle {
		display: none;
	}

	/* GRID */
	.about.grid {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (1fr) [2];
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-rows: (1fr) [2];
		grid-template-rows: repeat(2, 1fr);
	}
	.about.grid > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.about.grid > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.about.grid > *:nth-child(3) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.about.grid > *:nth-child(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}

	.about.grid .about__content {
		max-width: 445px;
		margin: auto;
	}

	.about.grid .about__image:is(:first-child) {
		-ms-grid-row: 1;
		grid-row: 1 / 1;
		-ms-grid-column: 2;
		grid-column: 2 / 2;
	}

	.about.grid .about__content:is(:nth-child(2)) {
		-ms-grid-column: 1;
		grid-column: 1 / 1;
		-ms-grid-row: 1;
		grid-row: 1 / 1;
	}

	.services.grid {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (1fr) [2];
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-rows: auto;
		grid-template-rows: auto;
	}

	.services.grid > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.services.grid > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}

	.services.grid .services__content {
		max-width: 400px;
		margin: auto;
	}

	.testimonials {
		padding-top: 8.88rem;
		padding-bottom: 8.88rem;
	}

	.testimonials .container {
		max-width: 1110px;
		margin: 0 auto;
	}

	.testimonials__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.testimonials__list > * {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
	}

	.testimonials__item:is(:nth-child(2)) {
		margin-left: 30px;
		margin-right: 30px;
	}

	.footer .container {
		max-width: 300px;
		margin: 0 auto;
	}

	.footer__network {
		max-width: 165px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1110px) {
	.hero h1 {
		top: 9rem;
		width: 100%;
	}

	.about.grid .about__content {
		padding: 0;
	}

	.projects {
		-ms-grid-columns: (1fr) [4];
		grid-template-columns: repeat(4, 1fr);
		-ms-grid-rows: auto;
		grid-template-rows: auto;
	}

	.projects > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.projects > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}

	.projects > *:nth-child(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}

	.projects > *:nth-child(4) {
		-ms-grid-row: 1;
		-ms-grid-column: 4;
	}
}
